<div class="col-6 border border-dark">
  <div class="row border-bottom border-dark">Resumo Financeiro</div>
  <div class="row">Clearing</div>
  <div class="row">
    <div class="col-8">Valor líquido das operações</div>
    <div class="col-3 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalOperacoes()) | number:'1.2-2'}}</div>
    <div class="col-1">{{notaCorretagem.cdDebitoCreditoOperacaoFinal()}}</div>
  </div>
  <div class="row">
    <div class="col-8">Taxa liquidação</div>
    <div class="col-3 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalTaxaLiquidacao()) | number:'1.2-2'}}</div>
    <div class="col-1">D</div>
  </div>
  <div class="row">
    <div class="col-8">Taxa Registro</div>
    <div class="col-3 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalTaxaRegistro()) | number:'1.2-2'}}</div>
    <div class="col-1">D</div>
  </div>
  <div class="row border-bottom border-dark bg-secondary text-white">
    <div class="col-8">Total CBLC</div>
    <div class="col-3 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalCBLC()) | number:'1.2-2'}}</div>
    <div class="col-1">{{notaCorretagem.retornarCdDebitoCreditoTotalCBLC()}}</div>
  </div>
  <div class="row">Bolsa</div>
  <div class="row">
    <div class="col-9">Taxa de termo/opções</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1">D</div>
  </div>
  <div class="row">
    <div class="col-9">Taxa A.N.A.</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1">D</div>
  </div>
  <div class="row">
    <div class="col-9">Emolumentos</div>
    <div class="col-2 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalEmolumentos()) | number:'1.2-2'}}</div>
    <div class="col-1">D</div>
  </div>
  <div class="row border-bottom border-dark bg-secondary text-white">
    <div class="col-9">Total Bovespa / Soma</div>
    <div class="col-2 border-right border-dark text-right">{{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorTotalBovespa()) | number:'1.2-2'}}</div>
    <div class="col-1">D</div>
  </div>
  <div class="row">Custos Operacionais</div>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-2 border-right border-dark text-right"></div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">Taxa Operacional</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1">D</div>
  </div>
  <div class="row">
    <div class="col-9">Execução.</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">Taxa de Custódia</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">Impostos</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">I.R.R.F s/ operações, base {{notaCorretagem.ValorAbsoluto(notaCorretagem.retornarValorVendaBruto()) | currency:'BRL'}}</div>
    <div class="col-2 border-right border-dark text-right">{{notaCorretagem.retornarValorTotalIRRF() | number:'1.2-2'}}</div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-9">Outros</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1"></div>
  </div>
  <div class="row border-bottom border-dark bg-secondary text-white">
    <div class="col-9">Total corretagem / Despesas</div>
    <div class="col-2 border-right border-dark text-right">0,00</div>
    <div class="col-1">D</div>
  </div>
  <div class="row border-bottom border-dark bg-secondary text-white">
    <div class="col-9">Líquido para {{notaCorretagem.dataNota | date:'dd/MM/yyyy'}}</div>
    <div class="col-2 border-right border-dark text-right">{{notaCorretagem.retornarValorLiquidoNotaAbs()| number:'1.2-2'}}</div>
    <div class="col-1">{{notaCorretagem.retornarCdDebitoCreditoLiquidoNota()}}</div>
  </div>
</div>
