  <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">C/V</th>
          <th scope="col">Especificação do Título</th>
          <th scope="col">Qtd.</th>
          <th scope="col">Preço/Ajuste</th>
          <th scope="col">Valor Operação</th>
          <th scope="col">D/C</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of listarOrdensCadastradas()">
          <td>{{ordem.cdCompraVenda}}</td>
          <td>{{ordem.cdAtivo}}</td>
          <td>{{ordem.nrQuantidade}}</td>
          <td>{{ordem.vlPrecoAjuste | currency:'BRL'   }}</td>
          <td>{{ordem.vlOperacaoAbs | currency:'BRL'  }}</td>
          <td>{{ordem.cdDebitoCredito}}</td>
          <td><button type="submit" class="btn btn-danger" (click)="excluirOrdem(ordem)">Excluir</button></td>
        </tr>
      </tbody>
      <tfoot class="thead-light">
        <tr>
          <th colspan="4" scope="col">Total:</th>
          <th scope="col">{{notaCorretagem.ValorAbsoluto(valorTotalOperacao())| currency:'BRL'}}</th>
          <th scope="col">{{cdDebitoCreditoOperacaoFinal()}}</th>
          <th scope="col"></th>
        </tr>
      </tfoot>
    </table>
  </div>
