<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova Ordem</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rdbCompra" id="rdbCompra" value="C" checked [(ngModel)]="ordemNova.cdCompraVenda">
      <label class="form-check-label" for="rdbCompra">
        Compra
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="rdbVenda" id="rdbVenda" value="V" [(ngModel)]="ordemNova.cdCompraVenda" >
      <label class="form-check-label" for="rdbVenda">
        Venda
      </label>
    </div>
    <div class="form-group">
      <label for="lblAtivo">Ticker</label>
      <input id="lblAtivo" type="text" class="form-control" [(ngModel)]="ordemNova.cdAtivo"  [ngbTypeahead]="search" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="lblQntAtivos">Qnt Ativos</label>
      <input id="lblQntAtivos" type="text" type="number" class="form-control" [(ngModel)]="ordemNova.nrQuantidade">
    </div>
    <div class="form-group">
      <label for="lblPrecoNegociado">Preço</label>
      <input id="lblPrecoNegociado" type="text" class="form-control" type="number" [(ngModel)]="ordemNova.vlPrecoAjuste">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="salvarOrdem()">Salvar</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Cadastrar Nova Ordem</button>

