<h4>
  Instruções
</h4>
<h6>
  Para a apuração das ordens Cryptos deve-se montar um arquivo .CSV <a download="ModeloOrdensCrypto.csv" href="assets/files/OrdensCrypto.csv">(conforme modelo)</a> com as seguintes características:
</h6>
<h6>
  <strong>Atenção: </strong>Para cada arquivo deve conter apenas as ordens realizadas na mesma Exchange, e o formato dos campos e dados deve obedecer o formato conforme modelo.
</h6>
<ul>
  <li>Campos separados por ponto e virgula (";")</li>
  <li>Primeira linha com os campos: Date(UTC), Market, Type, Price, Amount, Total Fee , Fee Coin</li>
  <li>Campo Date(UTC) no formato "yyyy-MM-dd HH:mm:ss", 2020-11-06 23:51:24</li>
  <li>Campo Market: informação do par negociado no formato, Ex.: par negociado NEO Bitcoin, preenche como NEOBTC.</li>
  <li>Campo Type: preenchido como BUY ou SELL.</li>
  <li>Campos Price, Amount, Total Fee: valores no formato americano (EN-US), ponto (".") como separador decimal, formato sem separador de milhar.</li>
  <li>Campo Fee Coin: Codigo da moeda em que foi pago a taxa de corretagem.</li>
</ul>
<h6>
  Obs.: Não solicitamos qualquer informação pessoal ou armazenamos as informaçoes das ordens enviadas.<br />
  Notas da Versão: Esta versão permite a apuração de pares de Exchanges listadas no campo "Exchange". <br />
  Bem como ordens negociadas com moedas fiat Dollar Americano 'USD' e Real Brasileiro 'BRL'.<br />
  E incluímos melhoria na performance de processamento das informações.
</h6>
<div class="form-group">
  <ng-template #rt let-r="result" let-t="term">
    <img [src]="r['dsLinkImageExchange']" class="mr-1" style="width: 30px">
    <ngb-highlight [result]="r.nmCriptoExchange" [term]="t"></ngb-highlight>
  </ng-template>
  <label for="typeahead-exchange">Exchange</label>
  <input id="typeahead-exchange" type="text" class="form-control"
         [(ngModel)]="exchangeSelecionada"
         [ngbTypeahead]="search"
         [inputFormatter]="formatter"
         [resultFormatter]="formatter"
         [resultTemplate]="rt"
         [editable]='false' />
  <small id="emailHelp" class="form-text text-muted">Infome a Exchange.</small>
</div>
<div class="form-group">
  <input type="file" id="fileUpload" name="arquivo" ngModel (change)="selecionarArquivo($event)" />
  <small id="FileUploadHelp" class="form-text text-muted">Arquivo .csv</small>
</div>
 <button class="btn btn-primary" name="btnEnviar" (click)="enviarArquivo()">
    Enviar
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
      <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
    </svg>
  </button>
  <br />
  <div *ngIf="listOrdensCrypto.length > 0" class="float-right">
    <button class="btn btn-light" name="btnExportCsv" (click)="exportarCSV()" placement="top" ngbTooltip="Download do Resultado em .csv">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-text-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 8a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
      </svg>
      Download em .csv
    </button>
  </div>
  <div class="table-responsive">
    <table *ngIf="listOrdensCrypto.length > 0" class="table table-sm table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Data(UTC)</th>
          <th>Moeda</th>
          <th>Ordem</th>
          <th>Cotação USD</th>
          <th>Quantidade</th>
          <th>Total USD</th>
          <th>Corretagem USD</th>
          <th>Data Cotacao Dolar</th>
          <th>Valor Cotacao Dolar</th>
          <th>Total BRL</th>
          <th>Corretagem BRL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordemCrypto  of listOrdensCrypto;let i = index;">
          <td> <span>{{ordemCrypto.dtCryptoOrdem | date:"dd/MM/yyyy HH:mm:ss"}}</span> </td>
          <td> <span>{{ordemCrypto.cdCryptoMoeda}}</span> </td>
          <td> <span>{{ordemCrypto.dsCryptoTipoOrdem}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoUSD | number:"1.6-6" }}</span> </td>
          <td> <span>{{ordemCrypto.nrCryptoQuantidade | number:"1.6-6"}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoTotalUSD | number:"1.6-6"}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoCorretagemUSD | number:"1.6-6"}}</span> </td>
          <td> <span>{{ordemCrypto.dtCryptoCotacaoUSDBRL | date:"dd/MM/yyyy HH:mm:ss"}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoCotacaoUSDBRL | number:"1.6-6"}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoTotalBRL | number:"1.6-6"}}</span> </td>
          <td> <span>{{ordemCrypto.vlCryptoCorretagemBRL | number:"1.6-6"}}</span> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h6>&nbsp;</h6>
