<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Ativo</th>
        <th scope="col">Data</th>
        <th scope="col">Tipo de Operação</th>
        <th scope="col">Qtd.</th>
        <th scope="col">Preço Ajuste</th>
        <th scope="col">Taxa</th>
        <th scope="col">Corretora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getListaOrdens()">
        <td>{{item.cdAtivo}}</td>
        <td>{{nota.dataNota | date:'dd/MM/yyyy'}}</td>
        <td>{{item.cdCompraVenda}}</td>
        <td>{{item.getQtVisualizacaoFinal()}}</td>
        <td>{{item.vlPrecoAjuste | number: '1.2-2'}}</td>
        <td>{{item.getValorTaxasAbs() | number: '1.2-2'}}</td>
        <td>{{nota.nmCorretora}}</td>
      </tr>
    </tbody>
  </table>
</div>
