
<div class="form-group">
  <label for="dataNota">Data Pregão</label>
  <input type="date" class="form-control" id="dataNota"
         aria-describedby="dataNotaHelp" [(ngModel)]="notaCorretagem.dataNota">
</div>
<div class="form-group">
  <label for="nomeCorretora">Corretora</label>
  <input type="text" class="form-control" id="nomeCorretora"
         [(ngModel)]="notaCorretagem.nmCorretora">
</div>
<app-cadastro-ordem></app-cadastro-ordem>
<app-ordem-executada></app-ordem-executada>
<app-resultado-financeiro></app-resultado-financeiro>
<app-resultado-nota></app-resultado-nota>
